@font-face {
    font-family: sfprobold;
    src: url(../fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF);
}

@font-face {
    font-family: sdpromedium;
    src: url(../fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF);
}